# OSX
.DS_Store

# NPM
/node_modules
npm-*

# Localization / I18N
common.pyc
.settings
.project
*.pyc
*.komodoproject
/nbproject/private/

# Unused by scratch-blocks
dart_compressed.js
javascript_compressed.js
lua_compressed.js
php_compressed.js
python_compressed.js

# Editor
.vscode

/accessible/*
/dist
/msg/js/*
!/msg/js/en.js
/msg/json/*
!/msg/json/en.json
/blockly_compressed_horizontal.js
/blockly_compressed_vertical.js
/blockly_uncompressed_horizontal.js
/blockly_uncompressed_vertical.js
/blocks_compressed_horizontal.js
/blocks_compressed_vertical.js
/blocks_compressed.js
/gh-pages/main.js
/gh-pages/playgrounds
/gh-pages/Gemfile.lock
/gh-pages/closure-library
/gh-pages/_site
/*compiler*.jar
/local_blockly_compressed_vertical.js
/chromedriver
.idea/vcs.xml
.idea/scratch-blocks.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/git_toolbox_prj.xml
.idea/dictionaries
.idea/dbnavigator.xml


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
.DS_Store

# testing
/coverage

# production
/build

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.husky
.husky/**
.next
.next/**
.idea/**
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/workspace.xml

#FOR THE LOVE OF ALL THINGS HOLY INGORE THESE FILES
.idea
.idea/
.idea/**
.idea/codeStyles
.idea/dictionaries
.idea/inspectionProfiles
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml
.idea/workspace.xml



# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

.idea/workspace.xml
.idea
.idea/*
.serverless*
#direnv variables
.envrc
.vscode
credentials
.next 10.25.53 AM/
components/SyncCard/
package-lock.json





